<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="benchmark" value="https://www.myget.org/F/benchmarkdotnet/api/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <packageSource key="benchmark">
      <package pattern="BenchmarkDotNet*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
